[submodule "packages/agent-notifier"]
	path = packages/agent-notifier
	url = https://github.com/Kipung/AgentNotify.git
[submodule "packages/agent-vitals"]
	path = packages/agent-vitals
	url = https://github.com/Kipung/AgentVitals.git
